* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:xx-large;
}

body {
  background-color: rgb(250, 188, 18)  ;
  padding-top: 10%;
}

.container {

  background-color: rgb(151, 149, 149);
  border:rgb(53, 52, 52) solid 2.3px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  width: 380px;
  height: 380px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.box {
  border:rgb(53, 52, 52) solid 2.3px;
  border-radius: 20px;
  background-color: rgb(231, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
    filter:brightness(90%);
    scale:1.05;
}


.ring {
  background-image: url("./icons/ring.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cross {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./icons/cross.svg");
}
